@import url(../../css/fontes.css);


body{
	font-family: 'Roboto-Light', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
}

.container{
	/*padding-right: 15px;
	padding-left: 15px;
	*/	
	padding: 0 15px 0 15px;
	margin-right: auto;
	margin-left: auto;
}

.text-center{
	text-align: center;
}

.lead{
	margin-bottom: 20px;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.4;
}

h1{
	font-size: 5em;
	font-family: 'PermanentMarker-Regular', sans-serif ;
}

h3{
	font-size: 2em;
	font-family: 'LexendExa-VariableFont_wght', sans-serif ;
}

h1, h3{
	padding-top: 20px;
	padding-bottom: 10px;
}

.conteudo-site{
	padding-top: 120px;
	padding-bottom: 640px;
}


.conteudo-site .container, .img-site .container{
	margin: auto;
	width: 1200px;
}

.box{
	width: 317px;
	border: 1px solid #ccc;
	border-radius: 5px;
	float: left;
	margin: 20px;
	padding: 20px;
	transition: all ease-in 300ms ;
	cursor: pointer;
	box-shadow: 0px 17px 5px -14px rgba(0,0,0,0.75);
}

.box:hover{
	transform: scale(1.2, 1.2);
	background-color: tomato;
}


.thumbnail{
	overflow: hidden;
}

.thumbnail img{
	display: block;
	max-width: 100%;
	/*transition: all ease-in 800ms ;*/
}

/*
.thumbnail img:hover{
	transform: scale(1.2, 1.2);
}
*/



